chromadb==0.4.22
├── bcrypt [required: >=4.0.1, installed: 4.1.2]
├── build [required: >=1.0.3, installed: 1.0.3]
│   ├── packaging [required: >=19.0, installed: 23.2]
│   └── pyproject-hooks [required: Any, installed: 1.0.0]
├── chroma-hnswlib [required: ==0.7.3, installed: 0.7.3]
│   └── numpy [required: Any, installed: 1.26.1]
├── pydantic [required: >=1.9, installed: 2.4.2]
│   ├── annotated-types [required: >=0.4.0, installed: 0.6.0]
│   ├── pydantic-core [required: ==2.10.1, installed: 2.10.1]
│   │   └── typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.8.0]
│   └── typing-extensions [required: >=4.6.1, installed: 4.8.0]
langchain==0.1.6
├── langchain-community [required: >=0.0.18,<0.1, installed: 0.0.19]
│   ├── aiohttp [required: >=3.8.3,<4.0.0, installed: 3.8.6]
│   │   ├── aiosignal [required: >=1.1.2, installed: 1.3.1]
│   │   │   └── frozenlist [required: >=1.1.0, installed: 1.4.0]
│   │   ├── async-timeout [required: >=4.0.0a3,<5.0, installed: 4.0.3]
│   │   ├── attrs [required: >=17.3.0, installed: 23.1.0]
│   │   ├── charset-normalizer [required: >=2.0,<4.0, installed: 3.3.2]
│   │   ├── frozenlist [required: >=1.1.1, installed: 1.4.0]
│   │   ├── multidict [required: >=4.5,<7.0, installed: 6.0.4]
│   │   └── yarl [required: >=1.0,<2.0, installed: 1.9.2]
│   │       ├── idna [required: >=2.0, installed: 3.4]
│   │       └── multidict [required: >=4.0, installed: 6.0.4]
│   ├── dataclasses-json [required: >=0.5.7,<0.7, installed: 0.6.1]
│   │   ├── marshmallow [required: >=3.18.0,<4.0.0, installed: 3.20.1]
│   │   │   └── packaging [required: >=17.0, installed: 23.2]
│   │   └── typing-inspect [required: >=0.4.0,<1, installed: 0.9.0]
│   │       ├── mypy-extensions [required: >=0.3.0, installed: 1.0.0]
│   │       └── typing-extensions [required: >=3.7.4, installed: 4.8.0]
│   ├── langchain-core [required: >=0.1.21,<0.2, installed: 0.1.22]
│   │   ├── anyio [required: >=3,<5, installed: 3.7.1]
│   │   │   ├── idna [required: >=2.8, installed: 3.4]
│   │   │   └── sniffio [required: >=1.1, installed: 1.3.0]
│   │   ├── jsonpatch [required: >=1.33,<2.0, installed: 1.33]
│   │   │   └── jsonpointer [required: >=1.9, installed: 2.4]
│   │   ├── langsmith [required: >=0.0.87,<0.0.88, installed: 0.0.87]
│   │   │   ├── pydantic [required: >=1,<3, installed: 2.4.2]
│   │   │   │   ├── annotated-types [required: >=0.4.0, installed: 0.6.0]
│   │   │   │   ├── pydantic-core [required: ==2.10.1, installed: 2.10.1]
│   │   │   │   │   └── typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.8.0]
│   │   │   │   └── typing-extensions [required: >=4.6.1, installed: 4.8.0]
│   │   │   └── requests [required: >=2,<3, installed: 2.31.0]
│   │   │       ├── certifi [required: >=2017.4.17, installed: 2023.7.22]
│   │   │       ├── charset-normalizer [required: >=2,<4, installed: 3.3.2]
│   │   │       ├── idna [required: >=2.5,<4, installed: 3.4]
│   │   │       └── urllib3 [required: >=1.21.1,<3, installed: 2.0.7]
│   │   ├── packaging [required: >=23.2,<24.0, installed: 23.2]
│   │   ├── pydantic [required: >=1,<3, installed: 2.4.2]
│   │   │   ├── annotated-types [required: >=0.4.0, installed: 0.6.0]
│   │   │   ├── pydantic-core [required: ==2.10.1, installed: 2.10.1]
│   │   │   │   └── typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.8.0]
│   │   │   └── typing-extensions [required: >=4.6.1, installed: 4.8.0]
│   │   ├── PyYAML [required: >=5.3, installed: 6.0.1]
│   │   ├── requests [required: >=2,<3, installed: 2.31.0]
│   │   │   ├── certifi [required: >=2017.4.17, installed: 2023.7.22]
│   │   │   ├── charset-normalizer [required: >=2,<4, installed: 3.3.2]
│   │   │   ├── idna [required: >=2.5,<4, installed: 3.4]
│   │   │   └── urllib3 [required: >=1.21.1,<3, installed: 2.0.7]
│   │   └── tenacity [required: >=8.1.0,<9.0.0, installed: 8.2.3]
│   ├── langsmith [required: >=0.0.83,<0.1, installed: 0.0.87]
│   │   ├── pydantic [required: >=1,<3, installed: 2.4.2]
│   │   │   ├── annotated-types [required: >=0.4.0, installed: 0.6.0]
│   │   │   ├── pydantic-core [required: ==2.10.1, installed: 2.10.1]
│   │   │   │   └── typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.8.0]
│   │   │   └── typing-extensions [required: >=4.6.1, installed: 4.8.0]
│   │   └── requests [required: >=2,<3, installed: 2.31.0]
│   │       ├── certifi [required: >=2017.4.17, installed: 2023.7.22]
│   │       ├── charset-normalizer [required: >=2,<4, installed: 3.3.2]
│   │       ├── idna [required: >=2.5,<4, installed: 3.4]
│   │       └── urllib3 [required: >=1.21.1,<3, installed: 2.0.7]
│   ├── numpy [required: >=1,<2, installed: 1.26.1]
│   ├── PyYAML [required: >=5.3, installed: 6.0.1]
│   ├── requests [required: >=2,<3, installed: 2.31.0]
│   │   ├── certifi [required: >=2017.4.17, installed: 2023.7.22]
│   │   ├── charset-normalizer [required: >=2,<4, installed: 3.3.2]
│   │   ├── idna [required: >=2.5,<4, installed: 3.4]
│   │   └── urllib3 [required: >=1.21.1,<3, installed: 2.0.7]
│   ├── SQLAlchemy [required: >=1.4,<3, installed: 2.0.23]
│   │   └── typing-extensions [required: >=4.2.0, installed: 4.8.0]
│   └── tenacity [required: >=8.1.0,<9.0.0, installed: 8.2.3]
├── langchain-core [required: >=0.1.22,<0.2, installed: 0.1.22]
│   ├── anyio [required: >=3,<5, installed: 3.7.1]
│   │   ├── idna [required: >=2.8, installed: 3.4]
│   │   └── sniffio [required: >=1.1, installed: 1.3.0]
│   ├── jsonpatch [required: >=1.33,<2.0, installed: 1.33]
│   │   └── jsonpointer [required: >=1.9, installed: 2.4]
│   ├── langsmith [required: >=0.0.87,<0.0.88, installed: 0.0.87]
│   │   ├── pydantic [required: >=1,<3, installed: 2.4.2]
│   │   │   ├── annotated-types [required: >=0.4.0, installed: 0.6.0]
│   │   │   ├── pydantic-core [required: ==2.10.1, installed: 2.10.1]
│   │   │   │   └── typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.8.0]
│   │   │   └── typing-extensions [required: >=4.6.1, installed: 4.8.0]
│   │   └── requests [required: >=2,<3, installed: 2.31.0]
│   │       ├── certifi [required: >=2017.4.17, installed: 2023.7.22]
│   │       ├── charset-normalizer [required: >=2,<4, installed: 3.3.2]
│   │       ├── idna [required: >=2.5,<4, installed: 3.4]
│   │       └── urllib3 [required: >=1.21.1,<3, installed: 2.0.7]
│   ├── packaging [required: >=23.2,<24.0, installed: 23.2]
│   ├── pydantic [required: >=1,<3, installed: 2.4.2]
│   │   ├── annotated-types [required: >=0.4.0, installed: 0.6.0]
│   │   ├── pydantic-core [required: ==2.10.1, installed: 2.10.1]
│   │   │   └── typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.8.0]
│   │   └── typing-extensions [required: >=4.6.1, installed: 4.8.0]
│   ├── PyYAML [required: >=5.3, installed: 6.0.1]
│   ├── requests [required: >=2,<3, installed: 2.31.0]
│   │   ├── certifi [required: >=2017.4.17, installed: 2023.7.22]
│   │   ├── charset-normalizer [required: >=2,<4, installed: 3.3.2]
│   │   ├── idna [required: >=2.5,<4, installed: 3.4]
│   │   └── urllib3 [required: >=1.21.1,<3, installed: 2.0.7]
│   └── tenacity [required: >=8.1.0,<9.0.0, installed: 8.2.3]
├── langsmith [required: >=0.0.83,<0.1, installed: 0.0.87]
│   ├── pydantic [required: >=1,<3, installed: 2.4.2]
│   │   ├── annotated-types [required: >=0.4.0, installed: 0.6.0]
│   │   ├── pydantic-core [required: ==2.10.1, installed: 2.10.1]
│   │   │   └── typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.8.0]
│   │   └── typing-extensions [required: >=4.6.1, installed: 4.8.0]
│   └── requests [required: >=2,<3, installed: 2.31.0]
│       ├── certifi [required: >=2017.4.17, installed: 2023.7.22]
│       ├── charset-normalizer [required: >=2,<4, installed: 3.3.2]
│       ├── idna [required: >=2.5,<4, installed: 3.4]
│       └── urllib3 [required: >=1.21.1,<3, installed: 2.0.7]
langchain-openai==0.0.5
├── langchain-core [required: >=0.1.16,<0.2, installed: 0.1.22]
│   ├── anyio [required: >=3,<5, installed: 3.7.1]
│   │   ├── idna [required: >=2.8, installed: 3.4]
│   │   └── sniffio [required: >=1.1, installed: 1.3.0]
│   ├── jsonpatch [required: >=1.33,<2.0, installed: 1.33]
│   │   └── jsonpointer [required: >=1.9, installed: 2.4]
│   ├── langsmith [required: >=0.0.87,<0.0.88, installed: 0.0.87]
│   │   ├── pydantic [required: >=1,<3, installed: 2.4.2]
│   │   │   ├── annotated-types [required: >=0.4.0, installed: 0.6.0]
│   │   │   ├── pydantic-core [required: ==2.10.1, installed: 2.10.1]
│   │   │   │   └── typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.8.0]
│   │   │   └── typing-extensions [required: >=4.6.1, installed: 4.8.0]
│   │   └── requests [required: >=2,<3, installed: 2.31.0]
│   │       ├── certifi [required: >=2017.4.17, installed: 2023.7.22]
│   │       ├── charset-normalizer [required: >=2,<4, installed: 3.3.2]
│   │       ├── idna [required: >=2.5,<4, installed: 3.4]
│   │       └── urllib3 [required: >=1.21.1,<3, installed: 2.0.7]
│   ├── packaging [required: >=23.2,<24.0, installed: 23.2]
│   ├── pydantic [required: >=1,<3, installed: 2.4.2]
│   │   ├── annotated-types [required: >=0.4.0, installed: 0.6.0]
│   │   ├── pydantic-core [required: ==2.10.1, installed: 2.10.1]
│   │   │   └── typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.8.0]
│   │   └── typing-extensions [required: >=4.6.1, installed: 4.8.0]
│   ├── PyYAML [required: >=5.3, installed: 6.0.1]
│   ├── requests [required: >=2,<3, installed: 2.31.0]
│   │   ├── certifi [required: >=2017.4.17, installed: 2023.7.22]
│   │   ├── charset-normalizer [required: >=2,<4, installed: 3.3.2]
│   │   ├── idna [required: >=2.5,<4, installed: 3.4]
│   │   └── urllib3 [required: >=1.21.1,<3, installed: 2.0.7]
│   └── tenacity [required: >=8.1.0,<9.0.0, installed: 8.2.3]
├── numpy [required: >=1,<2, installed: 1.26.1]
├── openai [required: >=1.10.0,<2.0.0, installed: 1.12.0]
│   ├── anyio [required: >=3.5.0,<5, installed: 3.7.1]
│   │   ├── idna [required: >=2.8, installed: 3.4]
│   │   └── sniffio [required: >=1.1, installed: 1.3.0]
│   ├── distro [required: >=1.7.0,<2, installed: 1.8.0]
│   ├── httpx [required: >=0.23.0,<1, installed: 0.25.1]
│   │   ├── anyio [required: Any, installed: 3.7.1]
│   │   │   ├── idna [required: >=2.8, installed: 3.4]
│   │   │   └── sniffio [required: >=1.1, installed: 1.3.0]
│   │   ├── certifi [required: Any, installed: 2023.7.22]
│   │   ├── httpcore [required: Any, installed: 1.0.1]
│   │   │   ├── certifi [required: Any, installed: 2023.7.22]
│   │   │   └── h11 [required: >=0.13,<0.15, installed: 0.14.0]
│   │   ├── idna [required: Any, installed: 3.4]
│   │   └── sniffio [required: Any, installed: 1.3.0]
│   ├── pydantic [required: >=1.9.0,<3, installed: 2.4.2]
│   │   ├── annotated-types [required: >=0.4.0, installed: 0.6.0]
│   │   ├── pydantic-core [required: ==2.10.1, installed: 2.10.1]
│   │   │   └── typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.8.0]
│   │   └── typing-extensions [required: >=4.6.1, installed: 4.8.0]
│   ├── sniffio [required: Any, installed: 1.3.0]
│   ├── tqdm [required: >4, installed: 4.66.1]
│   └── typing-extensions [required: >=4.7,<5, installed: 4.8.0]
└── tiktoken [required: >=0.5.2,<0.6.0, installed: 0.5.2]
    ├── regex [required: >=2022.1.18, installed: 2023.12.25]
    └── requests [required: >=2.26.0, installed: 2.31.0]
        ├── certifi [required: >=2017.4.17, installed: 2023.7.22]
        ├── charset-normalizer [required: >=2,<4, installed: 3.3.2]
        ├── idna [required: >=2.5,<4, installed: 3.4]
        └── urllib3 [required: >=1.21.1,<3, installed: 2.0.7]
pyboxen==1.3.0
└── rich [required: >=12.5.1, installed: 13.7.0]
    ├── markdown-it-py [required: >=2.2.0, installed: 3.0.0]
    │   └── mdurl [required: ~=0.1, installed: 0.1.2]
    └── pygments [required: >=2.13.0,<3.0.0, installed: 2.17.2]
python-dotenv==1.0.1
